/BF6CrashMonitor.spec
/bf6_crash_enhanced.py
/bf6_crash_monitor.py
/bf6_crash_monitor_gui.py
/build
/build.bat
/build_exe.bat
/build_requirements.txt
/crash_logs
/dist
/HOW_TO_BUILD.md
/QUICK_START.txt
/README.md
/SUMMARY.md
/venv